.section {
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    height: calc(100% - 65px);
    overflow: auto;
    color: #363636;
    margin: 25px;
    @media only screen and (max-width: 768px) {
        .columns {
            overflow-x: hidden;
        }
    }
}
